.editor-content,
.post-content {

	/* voir dans text.css pour les titres et le chapo */

	p {
		@apply mb-[1.5em];
	}

	b, strong {
		@apply font-bold;
	}

	&.type-ok,
	&.type-ko {
		ul > li {
			@apply relative list-none ml-0 pl-[30px] before:w-[20px] before:h-[20px] before:-mt-[2px] before:absolute before:left-0;
		}
	}
	&.type-ok {
		ul > li {
			@apply before:content-[url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMSAyMSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEwLjUgMC4zNDM3NUM4LjQ5MTI5IDAuMzQzNzUgNi41Mjc2OCAwLjkzOTQwNCA0Ljg1NzQ5IDIuMDU1MzlDMy4xODczMSAzLjE3MTM3IDEuODg1NTYgNC43NTc1NiAxLjExNjg1IDYuNjEzMzdDMC4zNDgxNTEgOC40NjkxOCAwLjE0NzAyMyAxMC41MTEzIDAuNTM4OTA0IDEyLjQ4MTRDMC45MzA3ODUgMTQuNDUxNSAxLjg5ODA3IDE2LjI2MTIgMy4zMTg0NSAxNy42ODE2QzQuNzM4ODMgMTkuMTAxOSA2LjU0ODUgMjAuMDY5MiA4LjUxODYyIDIwLjQ2MTFDMTAuNDg4NyAyMC44NTMgMTIuNTMwOCAyMC42NTE5IDE0LjM4NjYgMTkuODgzMkMxNi4yNDI0IDE5LjExNDQgMTcuODI4NiAxNy44MTI3IDE4Ljk0NDYgMTYuMTQyNUMyMC4wNjA2IDE0LjQ3MjMgMjAuNjU2MyAxMi41MDg3IDIwLjY1NjMgMTAuNUMyMC42NTM0IDcuODA3MjcgMTkuNTgyNSA1LjIyNTY0IDE3LjY3ODQgMy4zMjE1OUMxNS43NzQ0IDEuNDE3NTQgMTMuMTkyNyAwLjM0NjU5NCAxMC41IDAuMzQzNzVaTTE0Ljk1OSA4LjcwODk4TDkuNDkwMjQgMTQuMTc3N0M5LjQxNzY4IDE0LjI1MDQgOS4zMzE1MiAxNC4zMDggOS4yMzY2OCAxNC4zNDczQzkuMTQxODMgMTQuMzg2NiA5LjA0MDE3IDE0LjQwNjkgOC45Mzc1IDE0LjQwNjlDOC44MzQ4NCAxNC40MDY5IDguNzMzMTcgMTQuMzg2NiA4LjYzODMzIDE0LjM0NzNDOC41NDM0OSAxNC4zMDggOC40NTczMyAxNC4yNTA0IDguMzg0NzcgMTQuMTc3N0w2LjA0MTAyIDExLjgzNEM1Ljg5NDQzIDExLjY4NzQgNS44MTIwNyAxMS40ODg2IDUuODEyMDcgMTEuMjgxMkM1LjgxMjA3IDExLjA3MzkgNS44OTQ0MyAxMC44NzUxIDYuMDQxMDIgMTAuNzI4NUM2LjE4NzYxIDEwLjU4MTkgNi4zODY0NCAxMC40OTk2IDYuNTkzNzUgMTAuNDk5NkM2LjgwMTA3IDEwLjQ5OTYgNi45OTk4OSAxMC41ODE5IDcuMTQ2NDkgMTAuNzI4NUw4LjkzNzUgMTIuNTIwNUwxMy44NTM1IDcuNjAzNTJDMTMuOTI2MSA3LjUzMDkzIDE0LjAxMjMgNy40NzMzNSAxNC4xMDcxIDcuNDM0MDdDMTQuMjAyIDcuMzk0NzggMTQuMzAzNiA3LjM3NDU3IDE0LjQwNjMgNy4zNzQ1N0MxNC41MDg5IDcuMzc0NTcgMTQuNjEwNiA3LjM5NDc4IDE0LjcwNTQgNy40MzQwN0MxNC44MDAyIDcuNDczMzUgMTQuODg2NCA3LjUzMDkzIDE0Ljk1OSA3LjYwMzUyQzE1LjAzMTYgNy42NzYxIDE1LjA4OTIgNy43NjIyNyAxNS4xMjg0IDcuODU3MTFDMTUuMTY3NyA3Ljk1MTk1IDE1LjE4NzkgOC4wNTM2IDE1LjE4NzkgOC4xNTYyNUMxNS4xODc5IDguMjU4OSAxNS4xNjc3IDguMzYwNTUgMTUuMTI4NCA4LjQ1NTM5QzE1LjA4OTIgOC41NTAyMyAxNS4wMzE2IDguNjM2NCAxNC45NTkgOC43MDg5OFoiIGZpbGw9IiM1MEREQTQiLz4KPC9zdmc+Cg==")];
		}
	}
	&.type-ko {
		ul > li {
			@apply before:content-[url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjYiIGhlaWdodD0iMjYiIHZpZXdCb3g9IjAgMCAyNiAyNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEyLjc0ODEgMi44MTYwNEMxMC43MzkzIDIuODE2MDQgOC43NzU3MyAzLjQxMTY5IDcuMTA1NTQgNC41Mjc2OEM1LjQzNTM1IDUuNjQzNjYgNC4xMzM2IDcuMjI5ODUgMy4zNjQ5IDkuMDg1NjZDMi41OTYyIDEwLjk0MTUgMi4zOTUwNyAxMi45ODM2IDIuNzg2OTUgMTQuOTUzN0MzLjE3ODgzIDE2LjkyMzggNC4xNDYxMiAxOC43MzM1IDUuNTY2NSAyMC4xNTM4QzYuOTg2ODggMjEuNTc0MiA4Ljc5NjU1IDIyLjU0MTUgMTAuNzY2NyAyMi45MzM0QzEyLjczNjggMjMuMzI1MyAxNC43Nzg5IDIzLjEyNDEgMTYuNjM0NyAyMi4zNTU0QzE4LjQ5MDUgMjEuNTg2NyAyMC4wNzY3IDIwLjI4NSAyMS4xOTI3IDE4LjYxNDhDMjIuMzA4NiAxNi45NDQ2IDIyLjkwNDMgMTQuOTgxIDIyLjkwNDMgMTIuOTcyM0MyMi45MDE1IDEwLjI3OTYgMjEuODMwNSA3LjY5NzkzIDE5LjkyNjUgNS43OTM4OEMxOC4wMjI0IDMuODg5ODMgMTUuNDQwOCAyLjgxODg4IDEyLjc0ODEgMi44MTYwNFpNMTYuNDI1OCAxNS41NDQ2QzE2LjQ5ODQgMTUuNjE3MSAxNi41NTYgMTUuNzAzMyAxNi41OTUyIDE1Ljc5ODJDMTYuNjM0NSAxNS44OTMgMTYuNjU0NyAxNS45OTQ2IDE2LjY1NDcgMTYuMDk3M0MxNi42NTQ3IDE2LjE5OTkgMTYuNjM0NSAxNi4zMDE2IDE2LjU5NTIgMTYuMzk2NEMxNi41NTYgMTYuNDkxMyAxNi40OTg0IDE2LjU3NzQgMTYuNDI1OCAxNi42NUMxNi4zNTMyIDE2LjcyMjYgMTYuMjY3IDE2Ljc4MDIgMTYuMTcyMiAxNi44MTk1QzE2LjA3NzQgMTYuODU4OCAxNS45NzU3IDE2Ljg3OSAxNS44NzMxIDE2Ljg3OUMxNS43NzA0IDE2Ljg3OSAxNS42Njg4IDE2Ljg1ODggMTUuNTczOSAxNi44MTk1QzE1LjQ3OTEgMTYuNzgwMiAxNS4zOTI5IDE2LjcyMjYgMTUuMzIwMyAxNi42NUwxMi43NDgxIDE0LjA3NjhMMTAuMTc1OCAxNi42NUMxMC4xMDMyIDE2LjcyMjYgMTAuMDE3IDE2Ljc4MDIgOS45MjIxOSAxNi44MTk1QzkuODI3MzUgMTYuODU4OCA5LjcyNTcgMTYuODc5IDkuNjIzMDUgMTYuODc5QzkuNTIwNCAxNi44NzkgOS40MTg3NSAxNi44NTg4IDkuMzIzOTEgMTYuODE5NUM5LjIyOTA3IDE2Ljc4MDIgOS4xNDI5IDE2LjcyMjYgOS4wNzAzMiAxNi42NUM4Ljk5NzczIDE2LjU3NzQgOC45NDAxNSAxNi40OTEzIDguOTAwODcgMTYuMzk2NEM4Ljg2MTU5IDE2LjMwMTYgOC44NDEzNyAxNi4xOTk5IDguODQxMzcgMTYuMDk3M0M4Ljg0MTM3IDE1Ljk5NDYgOC44NjE1OSAxNS44OTMgOC45MDA4NyAxNS43OTgyQzguOTQwMTUgMTUuNzAzMyA4Ljk5NzczIDE1LjYxNzEgOS4wNzAzMiAxNS41NDQ2TDExLjY0MzYgMTIuOTcyM0w5LjA3MDMyIDEwLjRDOC45MjM3MiAxMC4yNTM0IDguODQxMzcgMTAuMDU0NiA4Ljg0MTM3IDkuODQ3MjlDOC44NDEzNyA5LjYzOTk3IDguOTIzNzIgOS40NDExNSA5LjA3MDMyIDkuMjk0NTZDOS4yMTY5MSA5LjE0Nzk2IDkuNDE1NzQgOS4wNjU2MSA5LjYyMzA1IDkuMDY1NjFDOS44MzAzNyA5LjA2NTYxIDEwLjAyOTIgOS4xNDc5NiAxMC4xNzU4IDkuMjk0NTZMMTIuNzQ4MSAxMS44Njc4TDE1LjMyMDMgOS4yOTQ1NkMxNS4zOTI5IDkuMjIxOTcgMTUuNDc5MSA5LjE2NDM5IDE1LjU3MzkgOS4xMjUxMUMxNS42Njg4IDkuMDg1ODIgMTUuNzcwNCA5LjA2NTYxIDE1Ljg3MzEgOS4wNjU2MUMxNS45NzU3IDkuMDY1NjEgMTYuMDc3NCA5LjA4NTgyIDE2LjE3MjIgOS4xMjUxMUMxNi4yNjcgOS4xNjQzOSAxNi4zNTMyIDkuMjIxOTcgMTYuNDI1OCA5LjI5NDU2QzE2LjQ5ODQgOS4zNjcxNCAxNi41NTYgOS40NTMzMSAxNi41OTUyIDkuNTQ4MTVDMTYuNjM0NSA5LjY0Mjk5IDE2LjY1NDcgOS43NDQ2NCAxNi42NTQ3IDkuODQ3MjlDMTYuNjU0NyA5Ljk0OTk0IDE2LjYzNDUgMTAuMDUxNiAxNi41OTUyIDEwLjE0NjRDMTYuNTU2IDEwLjI0MTMgMTYuNDk4NCAxMC4zMjc0IDE2LjQyNTggMTAuNEwxMy44NTI1IDEyLjk3MjNMMTYuNDI1OCAxNS41NDQ2WiIgZmlsbD0iIzIxMzM1MCIvPgo8L3N2Zz4K")]
		}
	}
}

.editor-content {
	ul {
		@apply mb-[1.5em];
		> li {
			@apply list-disc ml-[1em];

			&:not(:first-child) {
				@apply mt-[1.5em];
			}

			> ul {
				> li {
					@apply mt-0! list-["-"] pl-1;
				}
			}
		}
	}
	&.type-inline {
		@apply text-[14px] xl:text-white;
		ul {
			@apply xl:inline-flex gap-4;
			> li {
				@apply xl:!mt-0 !pl-[28px];
			}
		}
	}
}

.post-content {
	ul {
		@apply mb-[1.5em];
		> li {
			@apply list-disc ml-[1em];

			> ul {
				> li {
					@apply mt-0! pl-1;
				}
			}
		}
	}
	h2 {
		@apply scroll-mt-[160px]
	}
	.bloc-cta {
		@apply mt-14;
	}
}

#more,
.chapo {
		&.type-ok,
	&.type-ko {
		ul > li {
			@apply relative list-none ml-0 pl-[30px] before:w-[20px] before:h-[20px] before:-mt-[2px] before:absolute before:left-0;
		}
	}
	&.type-ok {
		ul > li {
			@apply before:content-[url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMSAyMSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEwLjUgMC4zNDM3NUM4LjQ5MTI5IDAuMzQzNzUgNi41Mjc2OCAwLjkzOTQwNCA0Ljg1NzQ5IDIuMDU1MzlDMy4xODczMSAzLjE3MTM3IDEuODg1NTYgNC43NTc1NiAxLjExNjg1IDYuNjEzMzdDMC4zNDgxNTEgOC40NjkxOCAwLjE0NzAyMyAxMC41MTEzIDAuNTM4OTA0IDEyLjQ4MTRDMC45MzA3ODUgMTQuNDUxNSAxLjg5ODA3IDE2LjI2MTIgMy4zMTg0NSAxNy42ODE2QzQuNzM4ODMgMTkuMTAxOSA2LjU0ODUgMjAuMDY5MiA4LjUxODYyIDIwLjQ2MTFDMTAuNDg4NyAyMC44NTMgMTIuNTMwOCAyMC42NTE5IDE0LjM4NjYgMTkuODgzMkMxNi4yNDI0IDE5LjExNDQgMTcuODI4NiAxNy44MTI3IDE4Ljk0NDYgMTYuMTQyNUMyMC4wNjA2IDE0LjQ3MjMgMjAuNjU2MyAxMi41MDg3IDIwLjY1NjMgMTAuNUMyMC42NTM0IDcuODA3MjcgMTkuNTgyNSA1LjIyNTY0IDE3LjY3ODQgMy4zMjE1OUMxNS43NzQ0IDEuNDE3NTQgMTMuMTkyNyAwLjM0NjU5NCAxMC41IDAuMzQzNzVaTTE0Ljk1OSA4LjcwODk4TDkuNDkwMjQgMTQuMTc3N0M5LjQxNzY4IDE0LjI1MDQgOS4zMzE1MiAxNC4zMDggOS4yMzY2OCAxNC4zNDczQzkuMTQxODMgMTQuMzg2NiA5LjA0MDE3IDE0LjQwNjkgOC45Mzc1IDE0LjQwNjlDOC44MzQ4NCAxNC40MDY5IDguNzMzMTcgMTQuMzg2NiA4LjYzODMzIDE0LjM0NzNDOC41NDM0OSAxNC4zMDggOC40NTczMyAxNC4yNTA0IDguMzg0NzcgMTQuMTc3N0w2LjA0MTAyIDExLjgzNEM1Ljg5NDQzIDExLjY4NzQgNS44MTIwNyAxMS40ODg2IDUuODEyMDcgMTEuMjgxMkM1LjgxMjA3IDExLjA3MzkgNS44OTQ0MyAxMC44NzUxIDYuMDQxMDIgMTAuNzI4NUM2LjE4NzYxIDEwLjU4MTkgNi4zODY0NCAxMC40OTk2IDYuNTkzNzUgMTAuNDk5NkM2LjgwMTA3IDEwLjQ5OTYgNi45OTk4OSAxMC41ODE5IDcuMTQ2NDkgMTAuNzI4NUw4LjkzNzUgMTIuNTIwNUwxMy44NTM1IDcuNjAzNTJDMTMuOTI2MSA3LjUzMDkzIDE0LjAxMjMgNy40NzMzNSAxNC4xMDcxIDcuNDM0MDdDMTQuMjAyIDcuMzk0NzggMTQuMzAzNiA3LjM3NDU3IDE0LjQwNjMgNy4zNzQ1N0MxNC41MDg5IDcuMzc0NTcgMTQuNjEwNiA3LjM5NDc4IDE0LjcwNTQgNy40MzQwN0MxNC44MDAyIDcuNDczMzUgMTQuODg2NCA3LjUzMDkzIDE0Ljk1OSA3LjYwMzUyQzE1LjAzMTYgNy42NzYxIDE1LjA4OTIgNy43NjIyNyAxNS4xMjg0IDcuODU3MTFDMTUuMTY3NyA3Ljk1MTk1IDE1LjE4NzkgOC4wNTM2IDE1LjE4NzkgOC4xNTYyNUMxNS4xODc5IDguMjU4OSAxNS4xNjc3IDguMzYwNTUgMTUuMTI4NCA4LjQ1NTM5QzE1LjA4OTIgOC41NTAyMyAxNS4wMzE2IDguNjM2NCAxNC45NTkgOC43MDg5OFoiIGZpbGw9IiM1MEREQTQiLz4KPC9zdmc+Cg==")];
		}
	}
		&.type-inline {
		@apply text-[14px];
		ul {
			@apply xl:inline-flex gap-4;
			> li {
				@apply mt-[.5em] xl:!mt-0 !pl-[28px];
			}
		}
	}
}

.accordion-body {
	.chapo {
		p {
			@apply mb-[1em];
		}
		ul {
			@apply mb-[1.5em];
		}
			ul	> li {
			@apply list-disc ml-[1em] text-[14px] mb-[.25em];
			}
		h3 {
			@apply font-display font-bold leading-[1.2] text-[18px] text-blue mt-[1em] mb-[.5em] pl-[30px] relative before:block  before:w-[26px] before:h-[26px] before:absolute before:left-0 before:-mt-[2px];
			&:nth-of-type(odd) {
				@apply before:content-[url('/wp-content/themes/croixdor/assets/img/icon-target.svg')];
			}
			&:nth-of-type(even) {
				@apply before:content-[url('/wp-content/themes/croixdor/assets/img/icon-tools.svg')];
			}
		}
	}
}