
/** ANIMATION SUR SUBMIT CONTACT **/

.frm_button_submit:has(div) {
	div,
	span {
		transform: translateY(0);
		transition: transform 200ms;
	}
	&:hover {
		div,
		span {
			transform: translateY(-4px);
		}

	}
}

.frm_forms.with_frm_style .frm_fields_container .frm_checkbox input[type=checkbox]:not([disabled]):checked,
.frm_forms.with_frm_style .frm_fields_container .frm_radio input[type=radio]:not([disabled]):checked::before {
	@apply !bg-blue;
}

.frm_forms.with_frm_style .frm_fields_container .frm_radio input[type=radio]:not([disabled]):checked {
	@apply !border-blue;
}

/** STYLE GENERIQUES **/

.frm_forms {
	@apply !mb-20 !mb-0 !relative;
}

.home .frm_forms.frm_style_formidable-style.with_frm_style#frm_form_2_container
 {
	@apply !mb-0;

	.frm_submit {
		@apply !mt-0;

		button {
			@apply !font-display !text-[14px] !leading-none !tracking-[calc(30/1000*1em)] !border-[1px] !min-w-[158px] !text-center !max-w-fit !px-[18px] !py-[18px] hover:!text-white !transition-all !bg-blue !border-blue !text-white !rounded-[60px];
		}
	}
}

.frm_style_formidable-style.with_frm_style {
.frm_primary_label {
	@apply !text-[16px] !font-bold !mb-1;
}

.with_frm_style .frm_radio label,
.with_frm_style .frm_checkbox label {
	line-height: 1.6!important;
}

.frm_submit {
	@apply !mt-20 !justify-between;
	button {
		@apply !w-full 650:!max-w-[min(232px,45%)] !bg-blue !text-white !border-blue !rounded-[60px] !font-display !h-[50px];
	}
}

.frm_description,
.frm_pro_max_limit_desc {
	@apply !mt-2;
}

.frm_form_field.frm_html_container {
	@apply !font-sans !font-light !text-[14px] !leading-[1.3] !text-primary;
}

input[type="text"],
textarea {
	@apply   !px-3.5 !shadow-[var(--input-shadow)];
	&::placeholder {
		@apply !text-[#213350] !opacity-40;
	}
}

textarea {
	@apply !rounded-[15px];
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"] {
	@apply !h-[53px] !rounded-[15px] !border-transparent;
}

select {
	background: url('/wp-content/themes/pharmaplace/assets/img/caret-down.png') no-repeat right 1rem center/22px 22px ;
	@apply !min-h-[53px] !rounded-[15px] !pt-7 appearance-none;
}

.frm_error_style {
	@apply !hidden !text-[#D32F2F];
}
.frm_error {
	@apply !text-[#D32F2F] !mt-2;
}

.frm_form_field {
	.frm_data_container {
		.ss-main {
			@apply !min-w-[min(100%,320px)];
		}
	}
}

.frm_form_field.label-inside {
	@apply relative;
	label {
		@apply absolute !text-[12px] top-[10px] left-[14px] leading-[13px] !text-[#213350] !opacity-30 !z-1 !pointer-events-none;
	}
	input[type="text"],
	input[type="email"],
	input[type="tel"],
	input[type="number"] {
		@apply !pt-7;
	}
	textarea {
		@apply !py-5 !pt-8;
	}
	.frm_data_container {
		@apply h-[53px];

		.ss-main {
			@apply h-[53px];

			.ss-values {
				@apply pt-4;

				.ss-single {
					@apply !ml-0;
				}
			}

			.ss-deselect {
				@apply !mt-3;
			}

			.ss-arrow {
				@apply !mt-5;
			}
		}
	}
}

}

.frm_style_formidable-style.with_frm_style .frm_blank_field input[type=text], .frm_style_formidable-style.with_frm_style .frm_blank_field input[type=password], .frm_style_formidable-style.with_frm_style .frm_blank_field input[type=url], .frm_style_formidable-style.with_frm_style .frm_blank_field input[type=tel], .frm_style_formidable-style.with_frm_style .frm_blank_field input[type=number], .frm_style_formidable-style.with_frm_style .frm_blank_field input[type=email], .frm_style_formidable-style.with_frm_style .frm_blank_field input[type=checkbox], .frm_style_formidable-style.with_frm_style .frm_blank_field input[type=radio], .frm_style_formidable-style.with_frm_style .frm_blank_field textarea, .frm_style_formidable-style.with_frm_style .frm_blank_field .mce-edit-area iframe, .frm_style_formidable-style.with_frm_style .frm_blank_field select:not(.ui-datepicker-month):not(.ui-datepicker-year), .frm_form_fields_error_style, .frm_style_formidable-style.with_frm_style .frm_blank_field .frm-g-recaptcha iframe, .frm_style_formidable-style.with_frm_style .frm_blank_field .g-recaptcha iframe, .frm_style_formidable-style.with_frm_style .frm_blank_field .frm-card-element.StripeElement, .frm_style_formidable-style.with_frm_style .frm_form_field :invalid {
	@apply !border-[#D32F2F];
}
