body, html {
	@apply font-sans font-light text-[14px] leading-[1.3];
}

@layer components {
	.titre-h1 {
		@apply !font-display !font-bold !leading-[1.2] !text-[32px] lg:!text-[40px];
	}

	.titre-h2,
	.editor-content h2 {
		@apply font-display font-bold leading-[1.2] text-[24px] lg:text-[28px];
	}

	.post-content h2,
	.editor-content h3,
	.titre-h3 {
		@apply font-display font-bold leading-[1.2] text-[18px];
	}

	.editor-content h3,
	.editor-content h2 {
		@apply text-blue;
		@apply mb-[1em];
	}

	.editor-content h2 + h3 {
		@apply mt-[1em];
	}

	.editor-content h2:not(:first-child) {
		@apply mt-[1.5em];
	}

	.post-content h2 {
		@apply text-blue mb-5;
		&:not(:first-child) {
			@apply mt-10;
		}
	}
	.chapo {
		@apply text-[16px] leading-[1.4];
	}
	.surtitre {
		@apply text-[16px] leading-[1.4] uppercase;
	}
}